/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container{
    background-image: url(home-background.jpg);
    background-size: cover;
    position: relative;
    min-height: 100vh;
	width: 100%;
}

div.container { 
	position: relative;
	min-height: 100vh;
	width:100%
}

body{
    font-family:sans-serif;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 0em 0em 4em;
    margin:1em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	background-color: rgb(210, 210, 210);
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 1em;
	}

h1 {
	width: 12em;
	}

h2, h3, h4 {
		font-weight: bold;
	}

h2 {
	font-size: 2em;
    margin:1em 0em 0em;
	}
	
h3 {
	font-size: 1.5em;
	margin: 1em 0em;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

main.menu ul {
		margin: 1em 0;
}	

main.menu ul li {
		margin: 2em 0em;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto auto;
}	

h4{
    grid-column:1/3;
    margin-bottom: 0em;
}
p {
	margin: 0em;
	}
	
p.description {
	grid-column: 1/6;
    grid-row:2/6;
	margin: 0em;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 5/6;
	color: rgb(241, 0, 0);
	text-align: right;
	margin: 0em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.5em;
    font-style: sans-serif;
	}
	
nav ul li a {
	color: rgb(255,255,0);
	background-color: rgb(0,0,255);
	padding: .5em;
	}

nav ul li.selected a{
	background-color: rgb(255, 136, 0)
	}
	

p.slogan {
	font-size: 4em;
	font-family: serif;
	font-style: italic;
	margin: 0.5em 0.5em 1.5em;
	color: rgb(255,255,255);	
	}

ul.hours{
    margin:0em;
    line-height:2em;
}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em;
  background: rgb(255,255,0);
}

address {
	color: rgb(255, 136, 0);
    font-style: sans-serif;
    margin: 1.5em;
    line-height:1.5em;
	}

footer p {
	margin: 0;
}

article{
	background-color: rgb(0, 255, 255);
	max-width:40em;
	margin:auto;
}

@media screen and (min-width: 60em){
	article{
		max-width:40em;
	}
	
	div.container{
		max-width: 70em;
		margin:auto;
		background-color:rgb(255,255,255)
	}

	div.home-container{
		max-width:70em;
		margin:auto;
		background-color:rgb(255,255,255);
	}

	body{
		background-color:rgb(255,0,0);
	}

	main.menu ul li{
		display: grid;
		grid-template-columns: 1fr 5fr;
	}

	nav{
		margin-top:1.5em;
	}

	nav ul li{
		display:inline;
	}

	nav ul li a{
		font-size:1.5em;
	}

	header{
		grid-template-columns: 1fr 5fr;
	}

	h1{
		grid-row:1/4;
	}

	main.menu ul {
		display:grid;
		grid-template-columns: auto auto;
		column-gap: 4em;
		margin-top: 0em;
	}

}
