/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container{
    background-image: url(home-background.jpg);
    background-size: cover;
    position: relative;
    min-height: 100vh;
	width: 100%;
}

div.container { 
	position: relative;
	min-height: 100vh;
	width:100%;
}

div.container address{
	text-align: left;
	margin-top: 1em;
	font-size: 1.5em;
	line-height: .25em;
	color: rgb(93, 130, 98);
}

div.container h3{
	margin-top:0em;
}

body{
    font-family: "mortise", serif;
	font-weight: 400;
	font-style: normal;	
	color: rgb(51, 85, 55)
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 0em 0em 4em;
    margin:1em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

div.container h1 img {
	width: 100%;
	height: 5em;
	object-fit: cover;
}

div.container img {
	width: 100%;
	height: 20em;
	object-fit: cover;
}

header {
	background-color: rgb(51, 85, 55);
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 1em;
	font-family: "ff-amman-sans-pro", sans-serif;
	font-weight: 700;
	font-style: normal;
	}

	address h3{
		text-transform: uppercase;
		font-weight: normal;
		padding-top: 0em;
	}
h1 {
	padding-top: 1em;
	width: 20em;
	}

h2, h3, h4, h5 {
		font-weight: bold;
	}

h2 {
	font-size: 2em;
    margin:1em 0em 0em;
	}
	
h3 {
	font-size: 1.5em;
	margin: 1em 0em;
	padding-top: 1em;
}

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	margin-top: 1em;
	}
	
ul li 	{
	list-style-type: none;
}

main.menu {
	padding-bottom: 8em;
}
main.menu ul {
	margin: 1em 0;
}	

main.menu ul li {
	margin: 2em 0em 0em;
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: auto auto;
}	

li img{
	padding-bottom: 1em;
	grid-column:1/6;
	grid-row:1/2;
	width: 100%;
}

h5{
	grid-column:1/2;
	grid-row: 2/3;
}

h4{
    grid-column:1/3;
    margin-bottom: 0em;
}
p {
	margin: 0em;
	}
	
p.description {
	grid-column:1/5;
	padding-top: 1.5em;
    grid-row:2/6;
	margin: 0em;
	color: rgb(51, 85, 55)
	}
	
p.price {
	grid-row: 2/3;
	grid-column: 5/6;
	color: rgb(126, 159, 131);
	text-align: right;
	margin: 0em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.5em;
    font-style: sans-serif;
	}
	
nav ul li a {
	color: rgb(126, 159, 131);
	background-color: rgb(51, 85, 55);
	padding: .5em;
	}

nav ul li.selected a{
	color: rgb(255, 255, 255);
	}
	

p.slogan {
	font-size: 3em;
	font-family:"ff-amman-sans-pro", sans-serif;
	font-weight: 700;
	font-style: bold;
	text-align: center;
	margin-top: 3.5em;
	margin-bottom: .5em;
	color: rgb(255, 255, 255);	
	text-transform: uppercase;
	}

ul.hours{
    margin:0em;
    line-height:2em;
	text-transform: uppercase;
}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8em; 
  box-sizing: border-box;
  padding: 1em;
  background: rgb(51, 85, 55);
  display:grid;
  grid-template-columns: auto;
}

div.home-container address {
	color: rgb(210, 246, 198);
    font-style: sans-serif;
    text-align:center;
	margin-bottom: 20em;
    line-height:1.5em;
	}

div.home-container footer h3{
	grid-column: 1/2;
	color: rgb(93, 130, 98);
	padding-left: 1em;
	padding-top: .75em;
	padding-bottom: 1em;
	margin-left: auto;
	font-family:"ff-amman-sans-pro", sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
}

footer h3{
	grid-column: 1/2;
	color: rgb(93, 130, 98);
	padding-left: 0em;
	padding-top: .75em;
	margin-left: auto;
	font-family:"ff-amman-sans-pro", sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
}
footer p {
	grid-column: 2/3;
	color: rgb(93, 130, 98);
	margin-top: 2em;
	text-align: right;
	padding-bottom: 1em;
}

article{
	max-width:40em;
	margin:auto;
	margin-bottom: 6em;
}

article p {
	padding-bottom: 1em;
}

@media screen and (min-width: 40em){
	
	p.slogan {
		font-size: 5em;
	}
	
	article{
		max-width:40em;
	}
	
	div.container{
		max-width: 70em;
		margin:auto;
		background-color:rgb(255,255,255);
	}

	div.home-container{
		max-width:70em;
		margin:auto;
		background-color:rgb(255,255,255);
	}

	body{
		background-color:rgb(93, 130, 98);
	}

	main.menu ul li{
		display: grid;
	}

	nav{
		margin-top:1.5em;
	}

	nav ul li{
		display:inline;
	}

	nav ul li a{
		font-size:1.5em;
	}

	header{
		grid-template-columns: 1fr 5fr;
	}

	h1{
		grid-row:1/4;
	}

	main.menu ul {
		display:grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
		column-gap: 2em;
		margin: 0em 1em 3em;
	}

	h5{
		grid-row:2/3;
	}

	li img{
		padding-bottom: 1em;
		grid-column:1/6;
		grid-row:1/2;
		width: 100%;
	}
	p.price{
		grid-row:2/3;
	}
	p.description{
		grid-row:3/4;
		padding-top: 0.5em;
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 8em; 
		box-sizing: border-box;
		padding: 1em;
		background: rgb(51, 85, 55);
		display:grid;
		grid-template-columns: 1fr 2fr;
	  }
	  footer h3{
		grid-column: 1/2;
		color: rgb(93, 130, 98);
		padding-left: 1em;
		margin: auto;
		font-family:"ff-amman-sans-pro", sans-serif;
		font-weight: 700;
		font-style: normal;
		text-transform: uppercase;
		font-size: 2em;
		line-height: 1em;
	}
	footer p {
		grid-column: 2/3;
		color: rgb(93, 130, 98);
		margin-top: 5em;
		text-align: right;
	}
}
